

a {
  color: #00B7FF;
}

.jumbotron{
    background: url("../img/NYTimes-banner.jpg") no-repeat; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}